<html>
<head>
	<!-- libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.15.0/vuedraggable.min.js"></script>

	<!-- main -->
	<script type="module" src="review.js"></script>

	<!-- material design --> 
	<link rel="stylesheet" href="material-design-lite/material.min.css">
	<script src="material-design-lite/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- style -->
	<link href="https://fonts.googleapis.com/css?family=Poppins|Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css"></link>

</head>
<body>
	<div id="page" class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">

	  <header class="mdl-layout__header">
	    <div class="mdl-layout__header-row">
	      <!-- Nav to catalog -->  	
      	<nav class="mdl-navigation">
        	<a class="mdl-navigation__link" href="/catalog" id="navToCatalog"><i class="material-icons">list_alt</i></a>
        	<div class="mdl-tooltip mdl-tooltip--large" for="navToCatalog"> Go to Catalog </div>
      	</nav>
      	<!-- Title -->
	      <span class="mdl-layout-title"></span>
	      <div class="mdl-layout-spacer"></div>
	      <!-- Save photo to catalog -->
				<button v-on:click="save()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent navButton"> Save </button>
				<!-- Save and load next photo -->
				<button v-on:click="saveAndNext()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent navButton"> Save & Next </button>
	    </div>
	  </header>

    <!-- Review Content -->
	  <main v-if="photo !== undefined" class="mdl-layout__content" id="page-content">
	    	<!-- EMU Card --> 
	    	<div id="emuCard" class="mdl-card mdl-shadow--2dp">
				  <div v-on:click="toggleImageExpansion" class="mdl-card__title" v-bind:class="{ expanded: expanded }" v-bind:style="{ backgroundImage: 'url(images/' + photo.irn + '.jpg)' }"></div>
				  <!-- MDL Progress Bar with Indeterminate Progress -->
					<div v-if="photo.emuOutput === undefined" class="mdl-card__supporting-text" style="{width: 90%}"> 
			  		<div class="mdl-progress mdl-progress--accent mdl-js-progress mdl-progress__indeterminate"></div>
			  	</div>
				  <div v-if="photo.emuOutput !== undefined" class="mdl-card__supporting-text">
				  	<table class="mdl-data-table mdl-js-data-table">
				  		<thead>
						    <tr>
						      <th class="mdl-data-table__cell--non-numeric">eMU Label</th>
						      <th class="mdl-data-table__cell--non-numeric">Data</th>
						    </tr>
						  </thead>
						  <tbody>
						    <!-- Photo is generated: -->
						    <tr v-for="(data, field) in photo.emuOutput">
						      <td class="mdl-data-table__cell--non-numeric">{{ field }} </td>
						      <td class="mdl-data-table__cell--non-numeric">
						      	<div v-if="photo.inReview[field] != 1" class="outputData">{{ data }}</div>
						      	<div v-if="photo.suggestions[field] !== undefined && photo.inReview[field] != 1">
						      		<button v-on:click="toggleReview(field)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent suggestionsButton">Review Suggestions</button>
						      	</div>
						      	<div v-if="photo.suggestions[field] !== undefined && photo.inReview[field] == 1">
						      		<div id="suggestions">
						      			<!-- <suggestions :list="photo.suggestions[field]" :field="field"></suggestions> -->
						      			<div class="row">
											    <div class="col-6">
											      <draggable
											        class="list-group"
											        tag="ul"
											        @end="endDrag"
											        handle=".handle"
											        :field="field"
											        v-model="photo.suggestions[field]"
											      >
												        <div v-for="(suggestion, index) in photo.suggestions[field]" :key="field+'-'+suggestion.data">
																	<div class="suggestionToggle">
																		  <button class="mdl-button mdl-js-button mdl-button--icon handle suggestionToggle">
																	      <i class="material-icons">drag_handle</i>
																	    </button>
																		<button v-on:click="toggleSuggestion(suggestion)" class="mdl-button mdl-js-button mdl-button--icon suggestionToggle">
																	      <i v-if="suggestion.status === 'accepted'" class="material-icons">check_box</i>
																	      <i v-if="suggestion.status === 'suggested'" class="material-icons">check_box_outline_blank</i>
																	    </button>
																	    <span contenteditable="true" class="suggestionData" v-on:blur="edit(suggestion)" placeholder="Type new suggestion...">{{ suggestion.data }}</span>
																		<button v-on:click="deleteSuggestion(field, index)" class="mdl-button mdl-js-button mdl-button--icon deleteSuggestion">
																	      <i class="material-icons">clear</i>
																	    </button>
																	</div>
																</div>
											      </draggable>
											      <div v-on:click="addSuggestion(field)" class="mdl-button mdl-js-button mdl-button--icon suggestionToggle">
															<i class="material-icons">add</i>
														</div>
											    </div>
											  </div>

						      		</div>
						      		<button v-on:click="updateEmuOutput(field)" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--accent suggestionsButton">
						      			Done
						      		</button>
						      	</div>
						      </td>
						    </tr>
						  </tbody>
						</table>
				  </div>
				  <div class="mdl-card__menu">
				    <button v-on:click="toggleImageExpansion" class="fullScreenButton mdl-button mdl-js-button mdl-button--icon ">
				      <i v-if="!expanded" class="material-icons">fullscreen</i>
				      <i v-if="expanded" class="material-icons">fullscreen_exit</i>
				    </button>
				  </div>
				</div>
		</main>
	</div> 
</body>
</html>